{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">


    <div class="row">
        <div class="col-md-6 offset-md-3"> 

                        
            {% if messages %}
            {% for message in messages %}
                {% if 'create_employee' in message.tags %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}

            <div class="card shadow">

                <div class="card-header text-center" style="background-color: rgb(26, 9, 81); color: white;">
                    <h1>ADD EMPLOYEE</h1>
                </div>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                     
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input placeholder="Name" class="form-control" id="name" name="name" required>
                        </div>

                        <div class="mb-3">
                            <label for="id_number" class="form-label">ID Number:</label>
                            <input placeholder="ID NUMBER" type="text" class="form-control" id="id_number" name="id_number" required>
                        </div>

                        <div class="mb-3">
                            <label for="rate" class="form-label">Rate:</label>
                            <input placeholder="RATE" type="number" class="form-control" id="rate" name="rate" step="0.01" min="0" oninput="validity.valid||(value='');" required>
                        </div>

                        <div class="mb-3">
                            <label for="Allowance" class="form-label">Allowance (Optional):</label>
                            <input  placeholder="ALLOWANCE" type="number" class="form-control" id="Allowance" name="Allowance" min="0" oninput="validity.valid||(value='');" step="0.01">
                        </div>
                       
                
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'employee_page' %}" class="btn btn-primary me-3" style="background-color: rgb(134, 129, 150); border: none;">
                                Back
                            </a>

                            <button type="submit" class="btn btn-primary" style="background-color: rgb(26, 9, 81); border: none;">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}