{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header bg-light p-3">
            <h5>Change Password</h5>
        </div>
        <div class="card-body">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <label class="form-label">Old password:</label>
                    <input class="form-control" type="password" id=opass name="opass">
                </div>
                <div class="row">
                    <label class="form-label">New password:</label>
                    <input class="form-control" type="password" id=newpass1 name="newpass1">

                    <label class="form-label">Whats your new password:</label>
                    <input class="form-control" type="password" id=newpass2 name="newpass2">
                </div>
                <button class="btn btn-secondary mt-4 px-4" type="submit">Update password</button>
                <a class="btn btn-outline-primary mt-4 px-4" href="{% url 'manage_acc' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}