{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #f5f6fa;
    }

    .table-dark th {
        background-color: #1A0951 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f8f9fb;
    }
</style>

<div class="container">

    {% if messages %}
        {% for message in messages %}
            {% if 'employee_page' in message.tags %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    
    
    <form method="POST" class="d-flex justify-content-between align-items-center mt-4 mb-3">
        {% csrf_token %}
        <h1 class="mb-0">Employees</h1>

        <div class="d-flex gap-2">
            <select name="sort_by" class="form-select" style="width: auto; font-size: 16px;" onchange="this.form.submit()">
                <option disabled selected>Sort by</option>
                <option value="name ↑">Alphabetical ↑ (Name)</option>
                <option value="name ↓">Alphabetical ↓ (Name)</option>
                <option value="rate ↑">Rate ↑</option>
                <option value="rate ↓">Rate ↓ </option>
                <option value="Allowance ↑">Allowance ↑</option>
                <option value="Allowance ↓">Allowance ↓</option>
                <option value="overtime_pay ↑">Overtime ↑</option>
                <option value="overtime_pay ↓ ">Overtime ↓ </option>
                <option value="overtime_hours ↑">Overtime hours ↑</option>
                <option value="overtime_hours ↓ ">Overtime hours ↓ </option>
            </select>
            
            <a href="{% url 'create_employee' %}" class="btn btn-secondary">+New Employee</a>
            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            
        </div>
    </form>

    

    <table class="table table-bordered table-striped fs-5">
        
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>ID Number</th>
                <th>Rate</th>
                <th>Allowance</th>
                <th>Overtime pay</th>
                <th>Overtime hour</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.id_number }}</td>
                <td>{{ employee.rate }}</td>
                <td>{{ employee.Allowance|default:"0" }}</td>
                <td>{{ employee.overtime_pay|default:"0" }}</td>
                <td>{{ employee.overtime_hours|default:"0" }}</td>

                <td class="text-center">
                    <div class="mb-2 d-flex justify-content-center gap-2">
                        <a href="{% url 'details_employee' employee.pk %}" class="btn btn-info btn-sm">Details</a>
                        <a href="{% url 'update_employee' employee.pk %}" class="btn btn-primary btn-sm">Update</a>
                        <a href="{% url 'delete_employee' employee.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                    
                    <div class="mb-2 d-flex justify-content-center gap-2">
                        <form method="POST" action="{% url 'add_overtime' employee.pk %}">
                        {% csrf_token %}
                        <div class="mb-2 d-flex justify-content-center gap-2">
                            <input type="number" name="overtime_hours" placeholder="Overtime Hours"
                                   class="form-control form-control-sm" step="0.1" min="0" oninput="validity.valid||(value='');"
                                   required style="width: 130px;">
                            <button type="submit" class="btn btn-success btn-sm">Add Overtime</button>
                        </div>
                        </form>
                        <div class="mb-2 d-flex justify-content-center gap-2">
                            <a href="{% url 'reset_overtime' employee.pk %}" class="btn btn-info btn-sm">Reset Overtime</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}